.date-time-picker {
    width: 200px;
    border: 1px solid #ccc;
}
.date-time-picker .header {
    background-color: red;
    text-align: center;
}
.date-time-picker .header .header-date {
    display: inline-block;
    width: 80px;
     font-size: 14px;
    color: white;
    font-weight: normal;

}
.date-time-picker .header .caret-left {
    display: inline-block;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
}
.date-time-picker .header .caret-right {
    display: inline-block;
    float: right;
    margin-right: 10px;
    margin-top: 5px;

}
.date-time-picker .header .pre{
    display: block;
    border-right: 7px solid #fff;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    width: 0;
    height: 0;
    cursor: pointer;
}
.date-time-picker .header .next{
    display: block;
    border-left: 7px solid #fff;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    width: 0;
    height: 0;
    cursor: pointer;
}

.date-time-picker .panel {
    width: 100%;
}
.date-time-picker .panel th{
    line-height: 1.5;
}
.date-time-picker .panel td{
    line-height: 1.5;
    font-size: 12px;
}
.date-time-picker .panel .pre-month,
.date-time-picker .panel .next-month {
    color: white;
}
.date-time-picker .panel .cur-month {
    cursor: pointer;
}
.date-time-picker .panel .cur-date {
    color: orange;
}